/// Main Styles File
/// Here we import all the global Styles files we need for our project.
*{box-sizing: border-box;}

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: 'Roboto', sans-serif, bold;
  color: #000;
  background-color: #FFF;
}

h3 {
  font-size: 32px;
  text-align: center;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}

.main-box {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 100vh;
  justify-content: space-evenly;
}

#home-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #FFF;
  margin-left: 10%;
  margin-right: 10%;
}

p {
  color: var(--color-on-surface);
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5px;
  height: 50%;
}

.boxone {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align: left;
  width: 20%;
  height: 60%;
  margin-right: 10px;
  background-color: #E5EFE2;
  border-radius: 12px;
  margin-bottom: 10px;
}

.boxtwo {
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  text-align: center;
  text-align: left;
  margin-right: 10px;
  width: 20%;
  height: 60%;
  background-color: #E4E9F3;
  margin-bottom: 10px;
}

.boxthree {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align: left;
  margin-right: 10px;
  width: 20%;
  height: 60%;
  background-color: #F4F1E4;
  border-radius: 12px;
  margin-bottom: 10px;
}

button {
  border-radius: 200px;
  width: 132px;
  height: 48px;
  margin-left: 45px;
  font-size: 12px;
  border: none;
  gap: 6px;
  padding: 14px 19px 15px 24px;
  background-color: #FFF;
}

button:hover{
  cursor: pointer;
  color: #3D63AC;
}

@media screen and (max-width: 1560px){
  .main-box {
    width: 100%;
    flex-wrap: wrap;
  }
  .boxone {
    width: 100%;
  }
  .boxtwo {
    width: 100%;
  }
  .boxthree {
    width: 100%;
  }
}
